<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wind.dao.BookMapper" >
    <resultMap id="BaseResultMap" type="com.wind.entity.Book" >
        <id column="book_id" property="bookId" jdbcType="VARCHAR" />
        <result column="book_name" property="bookName" jdbcType="VARCHAR" />
        <result column="author" property="author" jdbcType="VARCHAR" />
        <result column="publishers" property="publishers" jdbcType="VARCHAR" />
        <result column="price" property="price" jdbcType="DOUBLE" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="status" property="status" jdbcType="INTEGER" />
    </resultMap>


    <sql id="Column_List" >
        book_id,book_name,author,publishers,price,create_time,status
    </sql>

    <sql id="Column_Selective_List" >
        <trim prefix="" suffix="" suffixOverrides="," prefixOverrides=",">
			<if test="bookId!= null" >
				, book_id = #{bookId,jdbcType=VARCHAR}
			</if>
			<if test="bookName!= null" >
				, book_name = #{bookName,jdbcType=VARCHAR}
			</if>
			<if test="author!= null" >
				, author = #{author,jdbcType=VARCHAR}
			</if>
			<if test="publishers!= null" >
				, publishers = #{publishers,jdbcType=VARCHAR}
			</if>
			<if test="price!= null" >
				, price = #{price,jdbcType=DOUBLE}
			</if>
			<if test="createTime!= null" >
				, create_time = #{createTime,jdbcType=TIMESTAMP}
			</if>
			<if test="status!= null" >
				, status = #{status,jdbcType=INTEGER}
			</if>
		</trim>
    </sql>

    <sql id="Column_Selective_And_List" >
        <trim prefix="" suffix="" suffixOverrides="and" prefixOverrides="and">
			<if test="bookId!= null" >
				and book_id = #{bookId,jdbcType=VARCHAR}
			</if>
			<if test="bookName!= null" >
				and book_name = #{bookName,jdbcType=VARCHAR}
			</if>
			<if test="author!= null" >
				and author = #{author,jdbcType=VARCHAR}
			</if>
			<if test="publishers!= null" >
				and publishers = #{publishers,jdbcType=VARCHAR}
			</if>
			<if test="price!= null" >
				and price = #{price,jdbcType=DOUBLE}
			</if>
			<if test="createTime!= null" >
				and create_time = #{createTime,jdbcType=TIMESTAMP}
			</if>
			<if test="status!= null" >
				and status = #{status,jdbcType=INTEGER}
			</if>
		</trim>
    </sql>

    <sql id="Column_Assign_List" >
        #{bookId,jdbcType=VARCHAR},#{bookName,jdbcType=VARCHAR},#{author,jdbcType=VARCHAR},#{publishers,jdbcType=VARCHAR},#{price,jdbcType=DOUBLE},
		#{createTime,jdbcType=TIMESTAMP},#{status,jdbcType=INTEGER}
    </sql>

    <insert id="insert" parameterType="com.wind.entity.Book" >
        insert into book (
        <include refid="Column_List" />
        ) values (
        <include refid="Column_Assign_List" />
        )
    </insert>

    <delete id="deleteById" parameterType="java.lang.String" >
        delete from book
        where book_id = #{bookId,jdbcType=VARCHAR}
    </delete>

    <delete id="deleteByCondition" parameterType="com.wind.entity.Book" >
        delete from book where 1 = 1
        <include refid="Column_Selective_And_List" />
    </delete>

    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="Column_List" />
        from book
        where book_id = #{bookId,jdbcType=VARCHAR}
    </select>

    <select id="findByCondition" resultMap="BaseResultMap" parameterType="com.wind.entity.Book" >
        select
        <include refid="Column_List" />
        from book
        where 1 = 1
        <include refid="Column_Selective_And_List" />
    </select>

    <update id="updateByCondition" parameterType="com.wind.entity.Book" >
        update book
        <set>
            <include refid="Column_Selective_List" />
        </set>
        where book_id = #{bookId,jdbcType=VARCHAR}
    </update>

    <select id="countByCondition" resultType="java.lang.Integer" parameterType="com.wind.entity.Book" >
        select count(1)
        from book
        where 1 = 1
        <include refid="Column_Selective_And_List" />
    </select>
</mapper>

