<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wind.dao.RecordMapper" >
    <resultMap id="BaseResultMap" type="com.wind.entity.Record" >
        <id column="record_id" property="recordId" jdbcType="VARCHAR" />
        <result column="user_id" property="userId" jdbcType="VARCHAR" />
        <result column="book_id" property="bookId" jdbcType="VARCHAR" />
        <result column="borrow_time" property="borrowTime" jdbcType="TIMESTAMP" />
        <result column="return_time" property="returnTime" jdbcType="TIMESTAMP" />
    </resultMap>


    <sql id="Column_List" >
        record_id,user_id,book_id,borrow_time,return_time
    </sql>

    <sql id="Column_Selective_List" >
        <trim prefix="" suffix="" suffixOverrides="," prefixOverrides=",">
			<if test="recordId!= null" >
				, record_id = #{recordId,jdbcType=VARCHAR}
			</if>
			<if test="userId!= null" >
				, user_id = #{userId,jdbcType=VARCHAR}
			</if>
			<if test="bookId!= null" >
				, book_id = #{bookId,jdbcType=VARCHAR}
			</if>
			<if test="borrowTime!= null" >
				, borrow_time = #{borrowTime,jdbcType=TIMESTAMP}
			</if>
			<if test="returnTime!= null" >
				, return_time = #{returnTime,jdbcType=TIMESTAMP}
			</if>
		</trim>
    </sql>

    <sql id="Column_Selective_And_List" >
        <trim prefix="" suffix="" suffixOverrides="and" prefixOverrides="and">
			<if test="recordId!= null" >
				and record_id = #{recordId,jdbcType=VARCHAR}
			</if>
			<if test="userId!= null" >
				and user_id = #{userId,jdbcType=VARCHAR}
			</if>
			<if test="bookId!= null" >
				and book_id = #{bookId,jdbcType=VARCHAR}
			</if>
			<if test="borrowTime!= null" >
				and borrow_time = #{borrowTime,jdbcType=TIMESTAMP}
			</if>
			<if test="returnTime!= null" >
				and return_time = #{returnTime,jdbcType=TIMESTAMP}
			</if>
		</trim>
    </sql>

    <sql id="Column_Assign_List" >
        #{recordId,jdbcType=VARCHAR},#{userId,jdbcType=VARCHAR},#{bookId,jdbcType=VARCHAR},#{borrowTime,jdbcType=TIMESTAMP},#{returnTime,jdbcType=TIMESTAMP}
		
    </sql>

    <insert id="insert" parameterType="com.wind.entity.Record" >
        insert into record (
        <include refid="Column_List" />
        ) values (
        <include refid="Column_Assign_List" />
        )
    </insert>

    <delete id="deleteById" parameterType="java.lang.String" >
        delete from record
        where record_id = #{recordId,jdbcType=VARCHAR}
    </delete>

    <delete id="deleteByCondition" parameterType="com.wind.entity.Record" >
        delete from record where 1 = 1
        <include refid="Column_Selective_And_List" />
    </delete>

    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="Column_List" />
        from record
        where record_id = #{recordId,jdbcType=VARCHAR}
    </select>

    <select id="findByCondition" resultMap="BaseResultMap" parameterType="com.wind.entity.Record" >
        select
        <include refid="Column_List" />
        from record
        where 1 = 1
        <include refid="Column_Selective_And_List" />
    </select>

    <update id="updateByCondition" parameterType="com.wind.entity.Record" >
        update record
        <set>
            <include refid="Column_Selective_List" />
        </set>
        where record_id = #{recordId,jdbcType=VARCHAR}
    </update>

    <select id="countByCondition" resultType="java.lang.Integer" parameterType="com.wind.entity.Record" >
        select count(1)
        from record
        where 1 = 1
        <include refid="Column_Selective_And_List" />
    </select>
</mapper>

